body{
    margin:0px;
    padding:0px;
    /*background-color:#cdc9c9;*/
}
div#dirs_files {
    float:left;
    margin-right:20px;
}
div#wrap {
//margin:10px auto 0px auto;
//width:800px;
}
div#zip_wrap {
    #width:1000px;
    margin:0px 15% 0px 15%;
}
div#header{
    text-align:center;
    border-bottom:2px solid #ffffff;
    border-top:2px solid #ffffff;
    margin-bottom:30px;
    background: -moz-linear-gradient(top,#d4d4d4,#777777);
    background: -webkit-linear-gradient(top,#d4d4d4,#777777);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d4d4d4, endColorstr=#777777);
    background: -o-linear-gradient(top,#d4d4d4,#777777);
    padding-top:10px;
}
div#header h1 {
    margin-top:0px;
    margin-bottom:5px;
}
div#zip_wrap {
    background-color:#e3e3e3;
    border:2px solid #fff;
    -moz-border-radius:20px;
//height:100%;
    padding:20px;
//background-image: -moz-radial-gradient(center 45deg, circle closest-side, #f0f0f0 0%, #e3e3e3 100%);
}
div#zip_wrap_end {
    height:10px;
    clear:both;
}
img{
    margin-right:5px;
}
td{
    padding-right:10px;
    border-bottom:1px solid #969696;
    padding-top:5px;
    padding-bottom:5px;
}
h2 {
    text-align:center;
    padding:0px;
    margin:0px;
}
span#header_text{
    margin-bottom:20px;
    color:#262626;
    font-size:16px;
    font-style:italic;

}
.form_submit{
    background:url("../images/submit.jpg");
    background-repeat:no-repeat;
    border:none;
    width:150px;
    height:45px;
    background-position:0px -45px;
}
.form_submit:hover {
    background-position:0px 3px;
}
.form_text {
    border:1px solid #696969;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    height:30px;
    width:200px;
    padding-left:20px;
    background-color:#f6f6f6;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -vebkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}
#footer {
    width:1000px;
    margin:40px auto 0px auto;
    text-align:center;
    clear:both;
}
#footer hr{
    height:2px;
    border:0px;
    background-color:#fff;
}
#ex {
    background:url("../images/ex.jpg");
    background-repeat:no-repeat;
    border:none;
    width:82px;
    height:47px;
    padding-left:50px;
    background-position:0px -47px;
}
#ex:hover {
    background-position:0px 2px;
}
#ex a {
    color:#292929;
    font-weight:bold;
}
#del {
    background:url("../images/del.jpg");
    background-repeat:no-repeat;
    border:none;
    width:82px;
    height:47px;
    padding-left:50px;
    background-position:0px -47px;
}
#del:hover {
    background-position:0px 2px;
}
#del a {
    color:#292929;
    font-weight:bold;
}
a {
    color:#292929;
    font-weight:bold;
}
#my_table2 {
    float:right;
}
.author {
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
}

.content_file {
    width:1237px;
    overflow: scroll;
    background-color: #f6f6f6;
    border: 3px solid dodgerblue;
    padding: 10px;
}